[Unit]
Description=Solar Energy Monitor Data Collection Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ari
ExecStart=/home/$USER/ev-conversion-dashboard/ev-energy-monitor/target/debug/ev-energy-monitor

[Install]
WantedBy=default.target